#counter{
    background-color:white;
    border: #c0c3b8 0.5px solid;
    padding:20px 25px 22px 25px ;
    margin-right: -5px;
    margin-left: -5px; 
}

.container{
    text-align: center;
    translate: 0px 300px;   
}

.increment{
    padding:22px 25px ;
    border: #c0c3b8 0.5px solid;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;  
    
}
.decrement{
    padding:22px 25px ;
    border: #c0c3b8 0.5px solid;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;   
}